/* Project Description: Written By: iMark Infotech - Dipak Thakur Created On: 17-October-2018 Last Modified: */
@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/myfonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/myfonts/proximanova-bold.otf') format('opentype'),
		url('../fonts/myfonts/proximanova-bold.woff') format('woff'),
		url('../fonts/myfonts/proximanova-bold.ttf') format('truetype'),
		url('../fonts/myfonts/proximanova-bold.svg#../fonts/myfonts/proximanova-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/myfonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/myfonts/proximanova-semibold.otf') format('opentype'),
		url('../fonts/myfonts/proximanova-semibold.woff') format('woff'), url('../fonts/myfonts/proximanova-semibold.ttf') format('truetype'), url('../fonts/myfonts/proximanova-semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/myfonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/myfonts/proximanova-regular.woff') format('woff'),
		url('../fonts/myfonts/proximanova-regular.ttf') format('truetype'),
		url('../fonts/myfonts/proximanova-regular.svg#../fonts/myfonts/proximanova-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Light';
	src: url('../fonts/myfonts/proximanova-light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/myfonts/proximanova-light.otf') format('opentype'),
		url('../fonts/myfonts/proximanova-light.woff') format('woff'),
		url('../fonts/myfonts/proximanova-light.ttf') format('truetype'),
		url('../fonts/myfonts/proximanova-light.svg#../fonts/myfonts/proximanova-light') format('svg');
	font-weight: normal;
	font-style: normal;
}


html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Proxima Nova Lt';
	font-weight: normal;
	font-size: 14px;
	overflow-x: hidden;
	-webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
	-webkit-font-smoothing: antialiased !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Proxima Nova Lt';
	font-weight: normal;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	outline: none;
}

a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}

input,
textarea,
select {
	font-weight: normal;
}

* {
	outline: none;
}

* {
	box-sizing: border-box;
}

body {
	-webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
	min-height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}

html {
	height: 100%;
}

body::after {
	content: '';
	display: block;
	height: 62px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 62px;
}

.location_tabing .checkbox label.error,
label.error {
	display: block;
}

.checkbox label.error,
label.error,
.animal_content label,
.animal_content .form-group label.error {
	font-size: 12px;
	color: red;
	margin: 2px 0 0;
}

select::-ms-expand {
	display: none;
}

::selection {
	background: #d85043;
	color: #fff;
}

input,
select,
textarea {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.clearfix {
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0;
}

.login_content .form-group .form-control.error {
	border-color: red !important;
}

.login_content .form-group label.error {
	display: none !important;
}


@media screen and (min-width:1500px) {
	.container {
		max-width: 1470px;
	}
}

.pic .p-image label.error {
	display: block !important;
	width: 200px;
	position: relative;
	right: 135px;
	color: red;
	font-size: 14px;
	font-family: 'ProximaNova-Regular';
}

.animal-.mCustomScrollbar {
	max-height: 730px;
	height: 100%;
}

.master-.mCustomScrollbar {
	max-height: 740px;
	height: 100%;
}

.scroll-.mCustomScrollbar {
	max-height: 670px;
	height: 100%;
}

/*
tbody.scroll- tr {
	width: 100%;
	display: inline-table;
} */

.mCSB_scrollTools .mCSB_draggerRail {
	background-color: rgb(17, 200, 247);
	width: 3px;
	margin-right: 0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: rgb(15, 67, 111);
	background-color: rgb(15, 67, 111);
	margin-right: 0 !important;
}

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
	background-color: rgb(19, 76, 123) !important;
	margin-right: 0;
}

.mCSB_inside>.mCSB_container {
	margin-right: 0 !important;
}

tbody.master-.mCustomScrollbar._mCS_1.mCS_no_scrollbar {
	height: 300px;
	width: 100%;
	display: block;
}

textarea.alphabets.animal-history {
	resize: none;
	color: #515151;
	font-family: 'ProximaNova-Light';
	font-size: 18px;
	padding: 10px 20px;
	width: 100%;
	height: 65px;
}

.animal_content .form-group select.form-control option {
	font-size: 18px;
	padding: 5px 0;
	line-height: 2.2;
}

/* Modal-Center */
.modal {
	text-align: center;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	margin-right: -4px;
	vertical-align: middle;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	position: relative;
}

.modal-dialog {
	width: 450px;
}

.modal-footer,
.modal-header {
	border: none;
}

select.form-control.exportDoc {
	background: rgba(221, 221, 221, 0.15) url(../images/drop.png) no-repeat 95% 50%;
	height: 52px !important;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	padding: 0 15px;
	box-shadow: none;
	width: 100%;
	color: #524d4d;
	font-family: 'ProximaNova-Light';
	font-size: 16px;
}

.modal-header h4.modal-title,
h4#myModalLabel {
	font-size: 22px;
	color: #515151;
	font-family: 'ProximaNova-Regular';
}

.modal-footer button.btn.btn-default,
.modal-footer button#modal-btn-si {
	color: #fff;
	border: transparent;
	font-size: 16px;
	font-family: 'ProximaNova-Semibold';
	line-height: 2.4;
	display: inline-block;
	letter-spacing: 1px;
	padding: 0 20px;
	border-radius: 4px;
	outline: 0;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	background: rgb(10, 235, 251);
	background: -moz-linear-gradient(top, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	background: linear-gradient(to bottom, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0aebfb', endColorstr='#1d8bee', GradientType=0);
}

.modal-footer button.btn.btn-default:hover,
.modal-footer button#modal-btn-si:hover {
	background: rgb(28, 144, 239);
	background: -moz-linear-gradient(top, rgba(28, 144, 239, 1) 1%, rgba(11, 231, 250, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(28, 144, 239, 1) 1%, rgba(11, 231, 250, 1) 100%);
	background: linear-gradient(to bottom, rgba(28, 144, 239, 1) 1%, rgba(11, 231, 250, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c90ef', endColorstr='#0be7fa', GradientType=0);
}

.modal-footer button#modal-btn-no {
	background: #515151;
	color: #fff;
	border: transparent;
	font-size: 16px;
	font-family: 'ProximaNova-Semibold';
	line-height: 2.4;
	display: inline-block;
	letter-spacing: 1px;
	padding: 0 20px;
	border-radius: 4px;
	outline: 0;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.modal-footer button#modal-btn-no:hover {
	background: #2e2b2b;
}

.datalog-table table tr th input[type="button"],
.location_tabing h4 input[type="button"] {
	float: right;
	border: 1px solid #fff;
	line-height: 2.1;
}

.location_tabing .checkbox label {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

input.form-control {
	background: transparent;
	height: 42px !important;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #dcdcdc;
	box-shadow: none !important;
	outline: 0;
	border-radius: 4px;
	padding: 0 15px;
	width: 80%;
	color: #524d4d;
	font-family: 'ProximaNova-Light';
	font-size: 16px;
}

input.form-control.error {
	border-color: red !important;
}


.datalog-table table tr td select.form-control {
	background: transparent url(../images/drop.png) no-repeat 95% 50%;
	color: #000;
	height: 42px !important;
	border: 1px solid #dcdcdc;
	box-shadow: none !important;
	outline: 0;
	border-radius: 4px;
	padding: 0 15px;
	width: 100%;
	color: #524d4d;
	font-family: 'ProximaNova-Light';
	font-size: 16px;
}

textarea.location-email:focus,
.form-control:focus {
	outline: 0;
	box-shadow: none !important;
}

textarea.location-email {
	background: transparent;
	height: 210px !important;
	border: 1px solid #dcdcdc;
	box-shadow: none !important;
	outline: 0;
	border-radius: 4px;
	padding: 15px;
	width: 100%;
	color: #524d4d;
	font-family: 'ProximaNova-Light';
	font-size: 16px;
	resize: none;
}

input.form-control[placeholder="User Code"] {
	width: 200px;
	text-align: center;
	margin: 0 auto;
}

input[type="button"],
a.edit_btn {
	color: #fff;
	border: transparent;
	font-size: 16px;
	font-family: 'ProximaNova-Semibold';
	line-height: 2.4;
	display: inline-block;
	letter-spacing: 1px;
	padding: 0 20px;
	border-radius: 4px;
	outline: 0;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	background: rgb(10, 235, 251);
	background: -moz-linear-gradient(top, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	background: linear-gradient(to bottom, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0aebfb', endColorstr='#1d8bee', GradientType=0);
}

input[type="button"]:hover,
a.edit_btn:hover {
	background: rgb(28, 144, 239);
	background: -moz-linear-gradient(top, rgba(28, 144, 239, 1) 1%, rgba(11, 231, 250, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(28, 144, 239, 1) 1%, rgba(11, 231, 250, 1) 100%);
	background: linear-gradient(to bottom, rgba(28, 144, 239, 1) 1%, rgba(11, 231, 250, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c90ef', endColorstr='#0be7fa', GradientType=0);
}

/* Custom-Radio-Checkbox */
.checkbox input[type=checkbox],
	{
	display: none;
}

.checkbox label {
	padding: 0;
}

.checkbox span.new-checkbox {
	background: #fff;
	border: solid 1px #e3dfdf;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 7px;
	cursor: pointer;
	border-radius: 0px;
	display: inline-block;
	margin-left: 0px;
	top: -1px;
	position: relative;
}

.checkbox input[type=checkbox]:checked+span.new-checkbox {
	background: #fff;
	position: relative;
	width: 24px;
	height: 24px;
	display: inline-block;
	border-color: #e3dfdf;
}

.checkbox input[type=checkbox]:checked+span.new-checkbox:after {
	content: '';
	position: absolute;
	width: 16px;
	height: 7px;
	background: transparent;
	top: 5px;
	left: 2px;
	border: 2px solid #1c93ef;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.checkbox .checkbox-btn label {
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	padding: 0px 25px;
	font-size: 18px;
	font-weight: 400;
	line-height: 2.8;
	text-align: center;
	cursor: pointer;
	border: 1px solid #e3dfdf;
	border-radius: 4px;
	color: #fff;
	background-color: #e3dfdf;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	-webkit-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.checkbox.checkbox-btn label:before {
	content: "Click";
	display: inline-block;
	vertical-align: top;
}


.checkbox label {
	margin: 0;
	text-transform: uppercase;
	line-height: 1.4;
	vertical-align: middle;
	font-size: 22px;
	color: #515151;
	font-family: 'ProximaNova-Regular';
	-webkit-text-stroke: 0.2px;
}

/* //Checkbox */
header {
	top: 0;
	z-index: 9999;
	width: 100%;
	background: #fff;
	padding: 20px 0;
	box-shadow: 0px 0px 44px -12px #000;
	-webkit-box-shadow: 0px 0px 44px -12px #000;
}

.navbar,
.navbar-brand {
	margin: 0;
	padding: 0;
}

/* .navbar-brand img {
    width: 100%;
} */

.navbar {
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.navbar-brand {
	width: 416px;
}

/**** Header CSS ****/
.account-wrap {
	position: relative;
}

.account-item {
	cursor: pointer;
}

.js-acc-btn {
	color: #515151;
	font-family: 'ProximaNova-Semibold';
	font-size: 21px;
}

.account-item>.content>a:after {
	font-family: 'FontAwesome';
	font-weight: 500;
	content: '\f107';
	display: inline-block;
	font-size: 18px;
	margin-left: 11px;
	color: #515151;
}

.account-item>.content>a:hover {
	text-decoration: none;
	color: #0071BC;
}

.account-dropdown {
	min-width: 305px;
	position: absolute;
	top: 58px;
	right: 0;
	background: #fff;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transform-origin: right top;
	-moz-transform-origin: right top;
	-ms-transform-origin: right top;
	-o-transform-origin: right top;
	transform-origin: right top;
	z-index: 3;
}

.account-dropdown .info {
	padding: 15px 25px;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f2f2f2;
}

.account-dropdown .info .content .name a {
	color: #333;
	font-family: 'ProximaNova-Light';
	text-transform: capitalize;
	font-size: 19px;
}

.account-dropdown .info .content .name a:hover {
	color: #0071BC;
}

.account-dropdown .info .content .email {
	font-size: 13px;
	color: #999;
	font-family: 'ProximaNova-Light';
}

.account-dropdown:after {
	content: '';
	display: block;
	width: 19px;
	height: 19px;
	border-bottom: 9px solid #fff;
	border-top: 9px solid transparent;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	position: absolute;
	top: -18px;
	right: 46px;
}

.account-dropdown__item a {
	display: block;
	color: #333;
	font-family: 'ProximaNova-Light';
	padding: 15px 25px;
	font-size: 16px;
}

.account-dropdown__item a:hover,
.account-active a {
	background: #0071BC;
	color: #fff;
}

.account-dropdown__item a i {
	font-size: 16px;
	margin-right: 12px;
}

.account-dropdown__footer {
	border-top: 1px solid #f2f2f2;
}

.account-dropdown__footer a {
	display: block;
	color: #333;
	padding: 15px 25px;
	font-size: 16px;
	font-family: 'ProximaNova-Light';
}

.account-dropdown__footer a:hover {
	background: #0071BC;
	color: #fff;
}

.account-dropdown__footer a i {
	margin-right: 12px;
	font-size: 16px;
}

.show-dropdown .js-dropdown {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* Main-Section */
section.animal_section {
	padding: 120px 0 90px;
	text-align: center;
}

.animal_section .row {
	justify-content: center;
}

.animal_section .animal {
	background: #f3f3f3;
	height: 295px;
	padding: 55px;
	text-align: center;
	border-radius: 8px;
	margin-bottom: 40px;
}

.animal_section .animal figure {
	margin-bottom: 30px;
}

.animal_section .animal a {
	font-size: 30px;
	color: #515151;
	font-family: 'ProximaNova-Semibold';
}

.animal_section .animal a:hover {
	color: #1d8bee;
}

/* Footer */
footer {
	background: #141414;
	width: 100%;
}

footer .container {
	width: 100%;
	padding: 19px 0;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	display: flex;
	-webkit-display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

footer p {
	font-size: 16px;
	font-weight: 300;
	color: #ababab;
	-webkit-text-stroke: 0.2px;
	font-family: 'ProximaNova-Light';
}

footer p a {
	color: #26a9e0;
}

footer p a:hover,
footer p a:focus {
	color: #fff;
}

/* Animal-Datalog-Page */
section.animal-datalog {
	padding: 70px 0;
}

section.animal-datalog h2 {
	font-size: 44px;
	color: #515151;
	font-family: 'ProximaNova-Bold';
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 25px;
}

.datalog-table table tr th {
	border: none;
	padding: 20px 30px 16px;
	line-height: 1.4;
	font-size: 26px;
	/* text-transform: uppercase; */
	color: #fff;
	vertical-align: middle;
	font-family: 'ProximaNova-Semibold';
	background: rgb(10, 235, 251);
	background: -moz-linear-gradient(top, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	background: linear-gradient(to bottom, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0aebfb', endColorstr='#1d8bee', GradientType=0);
}

.datalog-table table tr td {
	border: none;
	background: #f3f3f3;
	padding: 20px 30px 16px;
	/* text-transform: uppercase; */
	line-height: 1.4;
	vertical-align: middle;
	font-size: 22px;
	color: #515151;
	font-family: 'ProximaNova-Regular';
	border-bottom: 1px solid #e3dfdf;
	-webkit-text-stroke: 0.2px;
}

.location_tabing ul li.active.location-tab.removetr,
.datalog-table table tr.removetr td {
	background: #b0ebc7 !important;
}

.location_tabing ul li.active.location-tab.removetr input.form-control,
.datalog-table table tr.removetr td .form-control {
	border-color: #fff;
}

.datalog-table table tr.bg-none td {
	border: none;
}

.datalog-table table tr td:nth-of-type(1) {
	width: 160px;
}

.datalog-table table tr td:nth-of-type(2) {
	width: 130px;
}

.datalog-table table tr td:nth-of-type(3) {
	width: 245px;
}

.datalog-table table tr td:nth-of-type(4) {
	width: 30px;
}

.datalog-table table tr td:nth-of-type(5) {
	width: 550px;
}

.button_submit {
	text-align: right;
}

.button_submit {
	margin: 40px 0 0;
}

.button_submit button {
	color: #fff;
	border: transparent;
	font-size: 25px;
	font-family: 'ProximaNova-Semibold';
	width: 260px;
	line-height: 2.4;
	border-radius: 8px;
	outline: 0;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.button_submit button.export {
	background: #515151;
}

.button_submit button.export:focus,
.button_submit button.export:hover {
	background: #2e2b2b;
}

.button_submit button.exit {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: rgb(10, 235, 251);
	background: -moz-linear-gradient(top, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	background: linear-gradient(to bottom, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0aebfb', endColorstr='#1d8bee', GradientType=0);
	margin-left: 20px;
}

.button_submit button.exit:focus,
.button_submit button.exit:hover {
	background: rgb(28, 144, 239);
	background: -moz-linear-gradient(top, rgba(28, 144, 239, 1) 1%, rgba(11, 231, 250, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(28, 144, 239, 1) 1%, rgba(11, 231, 250, 1) 100%);
	background: linear-gradient(to bottom, rgba(28, 144, 239, 1) 1%, rgba(11, 231, 250, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c90ef', endColorstr='#0be7fa', GradientType=0);
}

/* Profile */
section.animal-profile {
	padding: 70px 0;
}

section.animal-profile h2 {
	font-size: 44px;
	color: #515151;
	font-family: 'ProximaNova-Bold';
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 25px;
}

/* Profile-Page */
.pic .file-upload {
	display: none;
}

.pic {
	position: relative;
}

.pic .circle {
	overflow: hidden;
	width: 305px;
	height: 275px;
	position: relative;
	top: 0;
	border: 1px solid #0bebfc;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.pic .circle img {
	height: 100%;
	max-width: 100%;
}

.pic .p-image {
	position: absolute;
	bottom: 10px;
	right: 35px;
	color: #666666;
	transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
	background: #fff;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 33px;
	border-radius: 100%;
	cursor: pointer;
}

.pic .p-image:hover {
	transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.pic .upload-button {
	font-size: 1.2em;
}

.pic .upload-button:hover {
	transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
	color: #999;
}

.animal_content {
	background: #fbfbfb;
	padding: 45px 35px 60px;
}

.animal_content .form-group {
	margin-bottom: 25px;
}

.animal_content label,
.animal_content .form-group label {
	color: #403e3e;
	font-size: 20px;
	font-family: 'ProximaNova-Regular';
	margin-bottom: 5px;
	-webkit-text-stroke: 0.2px;
	display: block;
}

.animal_content .form-group label sup {
	color: #403e3e;
	font-size: 12px;
	font-family: 'ProximaNova-Regular';
	margin: 0 1px;
}

.animal_content .form-group .form-control {
	background: transparent;
	height: 52px !important;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	padding: 0 15px;
	box-shadow: none;
	width: 100%;
	color: #524d4d;
	font-family: 'ProximaNova-Light';
	font-size: 16px;
}

.animal_content .form-group select.form-control {
	background: rgba(221, 221, 221, 0.15) url(../images/drop.png) no-repeat 95% 50%;
	color: #000;
}

.form-group .form-control::placeholder {
	color: #bababa;
	opacity: 1;
}

.form-group .form-control:-ms-input-placeholder {
	color: #bababa;
}

.form-group .form-control::-ms-input-placeholder {
	color: #bababa;
}

/* .animal_content .form-group .year {
	width: 45%;
	display: inline-block;
	vertical-align: middle;
}

.animal_content .form-group .month {
	width: 44%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
} */

.animal_content .button_submit {
	text-align: left;
	margin: 20px 0 0;
}

.animal_content .button_submit button {
	width: 180px;
	line-height: 2.6;
}

.profile_content .all_btn {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.profile_content .all_btn .button_submit button {
	width: 245px;
	font-size: 22px;
}

/* History-Page-Csss */
section.animal-profile.comment .comment {
	border: 1px solid #cfcccc;
	padding: 40px 55px;
	width: 1100px;
	margin: 0 auto 45px;
}

section.animal-profile.comment .comment p {
	font-size: 24px;
	color: #515151;
	line-break: 1.8;
	font-family: 'ProximaNova-Regular';
}

section.manage-user .datalog-table table tr th,
section.manage-user .datalog-table table tr td {
	text-align: center;
}

section.manage-user .datalog-table table tr th:nth-of-type(1),
section.manage-user .datalog-table table tr td:nth-of-type(1) {
	text-align: left;
	padding-left: 60px;
}

/*  Login-Page-Css */

.login_image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
}

.login_form {
	display: table-cell;
	padding: 50px 15px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	z-index: 1;
}

.logged {
	width: 100%;
	max-width: 1100px;

	display: inline-block
}

.logged a {
	display: block;
}

.logged img {
	padding: 10px 0 80px;
}

.login_content {
	background: #f3f3f3;
	border-radius: 5px;
	padding: 120px 60px;
}

.login_content .form-group {
	text-align: left;
	margin-bottom: 20px;
}

.login_content .form-group label {
	font-size: 48px;
	color: #242424;
	font-family: 'ProximaNova-Bold';
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 5px;
	display: block;
}

.login_content .form-group input.form-control {
	color: #000;
	border: 1px solid #a8a8a8;
	font-family: 'ProximaNova-Bold';
	font-size: 21px;
	height: 68px !important;
	border-radius: 4px;
	border-color: #bcbcbc;
	box-shadow: none;
}

.login_content form .button_submit {
	margin: 40px 0 0;
	text-align: center;
	width: 100%;
}

/* Wight-Page-layout */
.weight .weight_size {
	text-align: center;
}

.weight .weight_size h4 {
	border: none;
	padding: 20px 30px 16px;
	line-height: 1.4;
	font-size: 26px;
	text-transform: uppercase;
	color: #fff;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'ProximaNova-Semibold';
	background: rgb(10, 235, 251);
	background: -moz-linear-gradient(top, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	background: linear-gradient(to bottom, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0aebfb', endColorstr='#1d8bee', GradientType=0);
}

.weight .weight_size .point {
	border-bottom: 2px solid #cfcccc;
	border-left: 2px solid #cfcccc;
	border-right: 2px solid #cfcccc;
	padding: 25px;
}

.weight .weight_size .point strong {
	font-size: 48px;
	color: #515151;
	font-family: 'ProximaNova-Bold';
}

.weight .weight_size span {
	font-size: 48px;
	color: #515151;
	font-family: 'ProximaNova-Semibold';
}

.weight .datalog-table table tr td,
.weight .datalog-table table tr th {
	text-align: center;
}

.weight .datalog-table table tr td:nth-of-type(1) {
	text-align: center;
	font-size: 18px;
}

.weight .datalog-table table tr td:nth-of-type(2) {
	width: 70px;
	padding: 0;
}

.weight .datalog-table table tr td:nth-of-type(3) {
	width: 200px;
	text-align: left;
}

.weight button.obs {
	margin-right: 20px;
}

.weight button.obs:hover {
	background: #2e2b2b;
}

/* MAnage-Location */
.Manage-loction {
	margin: 0;
	padding: 0;
}

.Manage-loction h4.table-head {
	border: none;
	text-align: left;
	padding: 20px 30px 16px;
	line-height: 1.4;
	font-size: 26px;
	text-transform: uppercase;
	color: #fff;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'ProximaNova-Semibold';
	background: rgb(10, 235, 251);
	background: -moz-linear-gradient(top, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	background: linear-gradient(to bottom, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0aebfb', endColorstr='#1d8bee', GradientType=0);
}

.location_tabing ul li {
	background: #f3f3f3;
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	display: block;
	width: 100%;
	text-align: center;
}

.location_tabing ul li:last-of-type {
	border-bottom: none;
}

.location-table .tab-content {
	background: #f3f3f3;
	display: block;
	width: 100%;
	padding: 35px;
	text-align: center;
	min-height: 385px;
	height: 100%;
}

.location_tabing {
	min-height: 385px;
	height: 100%;
}

.location_tabing ul li a {
	color: #515151;
	font-size: 22px;
	font-family: 'ProximaNova-Regular';
	text-transform: uppercase;
	display: block;
	padding: 15px;
}

.location_tabing ul li:hover a {
	background: #ddd;
}

.location-table .tab-pane p {
	color: #515151;
	font-size: 22px;
	font-family: 'ProximaNova-Regular';
	display: block;
	padding: 15px;
	border-bottom: 1px solid #ddd;
}

.Manage-loction .button_submit {
	margin: 70px 0 0;
}

.point input.form_control {
	background: transparent;
	height: 42px !important;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	border: 1px solid #dcdcdc;
	box-shadow: none !important;
	outline: 0;
	border-radius: 4px;
	padding: 0 15px;
	width: 80%;
	color: #524d4d;
	font-family: 'ProximaNova-Light';
	font-size: 16px;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 80px;
	height: 80px;
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 2s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.preloader {
	background: rgba(0, 0, 0, 0.71);
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
table thead .sorting {
    /* background-image: url(../images/sort_both.png)!important; */
    background-repeat: no-repeat!important;
    background-position: right!important;
    position: relative!important;
    color: #fff!important;
    background: -moz-linear-gradient(top, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%)!important;
    background: linear-gradient(to bottom, rgba(10, 235, 251, 1) 0%, rgba(29, 139, 238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0aebfb', endColorstr='#1d8bee', GradientType=0);
}
table thead .sorting.sorting_asc::after {
    content: "";
    background: url(../images/sort_asc.png)!important;
    width: 30px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999999999;
    background-repeat: no-repeat!important;
    background-position: center!important;
}
table thead .sorting.sorting_desc::after {
    content: "";
    background: url(../images/sort_desc.png)!important;
    width: 30px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999999999;
    background-repeat: no-repeat!important;
    background-position: center!important;
}
table thead .sorting.sorting_asc {
    position: relative;
}
table thead .sorting.sorting_desc {
    position: relative;
}
table thead .sorting::after {
    content: "";
    background: url(../images/sort_both.png)!important;
    width: 30px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999999999;
    background-repeat: no-repeat!important;
    background-position: center!important;
}

/* Small-Screen-Size */

@media screen and (max-width:1469px) {
	.datalog-table table tr td:nth-of-type(1) {
		width: 240px;
	}

	.animal_section .row {
		justify-content: center;
		display: flex;
		align-items: center;
	}

	.animal_content .button_submit {
		margin: 27px 0 0;
	}

	section.animal-profile {
		padding: 95px 0;
	}

	.animal_section .animal {
		padding: 38px 30px 0;
		margin-bottom: 35px;
		min-height: 255px;
		height: 100%;
	}

	.animal_section .animal a {
		font-size: 24px;
	}

	section.animal-profile h2,
	section.animal-datalog h2 {
		font-size: 30px;
	}

	.datalog-table table tr td:nth-of-type(3) {
		width: 290px;
	}

	.datalog-table table tr th {
		padding: 15px 30px 10px;
		font-size: 20px;
	}

	.datalog-table table tr td {
		padding: 15px 30px 10px;
		font-size: 16px;
	}

	.button_submit button {
		width: 200px;
		font-size: 18px;
		line-height: 2.6;
	}

	.pic .circle {
		width: 250px;
		height: 235px;
	}

	.pic .p-image {
		bottom: 8px;
		right: 15px;
	}

	.animal_content {
		padding: 35px 25px 45px;
	}

	.animal_content label,
	.animal_content .form-group label {
		font-size: 18px;
	}

	.animal_content .form-group .form-control {
		font-size: 16px;
		height: 46px;
		padding: 0 10px;
		margin: 0;
	}

	.col-7.year_wdth {
		padding-left: 6px;
	}

	.animal_content .button_submit button {
		width: 160px;
		line-height: 2.7;
		font-size: 18px;
	}

	section.animal-profile.comment .comment p {
		font-size: 21px;
	}

	.profile_content .all_btn .button_submit button {
		width: 185px;
		font-size: 18px;
		margin: 0;
		line-height: 2.8;
	}

	/* lANDING-pAGE */
	.login_content {
		padding: 100px 60px;
	}

	.login_content .form-group label {
		font-size: 32px;
		line-height: 1.4;
	}

	.Manage-loction h4.table-head {
		font-size: 20px;
	}

	.location_tabing ul li a,
	.location-table .tab-pane p {
		font-size: 18px;
	}

	.location-table .tab-content {
		min-height: 348px;
	}

	.scroll-.mCustomScrollbar {
		max-height: 530px;
	}

	.animal-.mCustomScrollbar {
		max-height: 530px;
	}

	.master-.mCustomScrollbar {
		max-height: 540px;
	}

	.scroll-.mCustomScrollbar {
		max-height: 570px;
	}
}


@media screen and (max-width:1199px) {
	.logged img {
		padding: 10px 0 60px;
	}

	/* Animal-Profile */
	section.animal-profile {
		padding: 50px 0;
	}

	.pic .circle {
		width: 210px;
		height: 195px;
	}

	.animal_content .form-group .form-control {
		height: 46 !important;
	}

	.animal_content .form-group .form-control {
		font-size: 14px;
	}

	.animal_content .form-group .year {
		width: 42%;
	}

	.animal_content .form-group .month .form-control,
	.animal_content .form-group .year .form-control {
		padding: 2px 5px;
	}

	.animal_content .button_submit button {
		line-height: 2.9;
	}

	.datalog-table table tr td select.form-control {
		padding: 0 8px;
	}

	section.manage-user .datalog-table table tr th:nth-of-type(1),
	section.manage-user .datalog-table table tr td:nth-of-type(1) {
		text-align: left;
		padding-left: 40px;
	}

	.animal_section .animal {
		padding: 32px 25px 0;
		margin-bottom: 35px;
		min-height: 240px;
		height: 100%;
	}

	section.animal_section {
		padding: 65px 0 45px;
	}

	.Manage-loction .col-sm-3.col-12.repeater {
		flex: 35%;
		max-width: 35%;
	}

	.Manage-loction .col-sm-9.col-12 {
		max-width: 65%;
		flex: 65%;
	}

	.location-table .tab-content {
		min-height: 300px;
	}

	.profile_content .all_btn .button_submit button {
		padding: 0 33px;
		width: auto;
	}

	.weight .weight_size h4 {
		font-size: 21px;
	}

	.weight .weight_size .point {
		padding: 25px 10px;
	}

	section.animal-profile.comment .comment {
		width: 100%;
	}

	textarea.alphabets.animal-history {
		width: 100%;
		padding: 15px;
	}

	.animal_content .button_submit {
		margin: 32px 0 0;
	}

	.datalog-table table tr td:nth-of-type(2) {
		width: 175px;
	}

	textarea.location-email {
		height: 150px !important;
	}

	.location-table .tab-content {
		min-height: 220px;
	}
}

@media screen and (max-width:991px) {
	.table {
		overflow-y: scroll;
		display: block;
	}

	.datalog-table table tr td {
		padding: 10px 20px 10px;
		font-size: 16px;
	}

	.datalog-table table tr td:nth-of-type(2) {
		width: 100%;
		min-width: 205px;
	}

	.checkbox label {
		width: 100%;
		min-width: 240px;
	}

	section.animal_section {
		padding: 170px 0 45px;
	}

	.animal_section .animal figure {
		margin: 0 auto 20px;
		width: 112px;
		height: 112px;
	}

	.animal_section .animal a {
		font-size: 20px;
	}

	.animal_section .animal {
		padding: 30px 18px 0;
		min-height: 215px;
		height: 100%;
	}

	.col-sm-3.col-12.profile_wdth {
		max-width: 50%;
		flex: 50%;
		margin: auto;
	}

	.pic .circle {
		width: 305px;
		height: 275px;
		margin: 0 auto;
	}

	.pic .p-image {
		bottom: 8px;
		right: 25px;
	}

	section.animal-profile {
		padding: 50px 0 0;
	}

	.animal_content .button_submit {
		margin: 30px 0 0;
	}

	.animal_content .button_submit button {
		line-height: 2.8;
	}

	.col-sm-9.col-12.content_wdth {
		flex: 100%;
		max-width: 100%;
		margin-top: 35px;
	}

	.Manage-loction .col-sm-3.col-12.repeater {
		flex: 55%;
		max-width: 55%;
		margin: 0 auto;
	}

	.Manage-loction .col-sm-9.col-12 {
		max-width: 100%;
		flex: 100%;
	}

	section.animal-profile {
		padding: 50px 0;
	}

	.location_tabing {
		min-height: 220px;
		height: 100%;
		margin-bottom: 35px;
	}

	.datalog-table table tr th input[type="button"],
	.location_tabing h4 input[type="button"] {
		margin-top: -4px;
	}
}

@media screen and (max-width:767px) {
	footer {
		padding: 0 12px;
	}

	.animal_content .form-group {
		margin-bottom: 12px;
	}

	footer .container {
		width: 100%;
		padding: 12px 0;
	}

	footer p {
		font-size: 12px;
	}

	.button_submit button {
		width: 125px;
		font-size: 16px;
		line-height: 2.4;
	}

	.navbar-brand {
		width: 175px;
	}

	section.animal_section {
		padding: 50px 0 15px;
	}

	.animal_content .form-group .form-control {
		font-size: 14px;
		margin: 0;
	}

	.col-sm-3.col-12.profile_wdth {
		max-width: 100%;
		flex: 100%;
		margin: auto;
	}

	.pic .circle {
		width: 245px;
		height: 215px;
		margin: 0 auto;
	}

	.pic .p-image {
		bottom: 8px;
		right: 70px;
	}

	.animal_content {
		padding: 15px 15px 30px;
	}

	.animal_content .button_submit {
		margin: 10px 0 0;
	}

	.animal_content .button_submit button {
		margin-left: 0;
	}

	.login_form {
		padding: 0;
	}

	.logged img {
		padding: 10px 0 35px;
		width: 70%;
	}

	.login_content {
		padding: 25px 25px;
	}

	.login_content .form-group .form-control {
		margin: 0;
		height: 48px;
		font-size: 16px;
		width: 100%;
	}

	.login_content .form-group label {
		font-size: 22px;
		line-height: 1.4;
	}

	/* button.exit {
		margin: 0 !important;
	} */
	.location_tabing {
		min-height: 150px;
		height: 100%;
		margin-bottom: 35px;
	}

	.button_submit {
		margin: 20px 0 0;
	}

	.scroll-.mCustomScrollbar {
		max-height: 420px;
	}

	.datalog-table table tr td:nth-of-type(2) {
		width: 100%;
		min-width: 190px;
	}

	section.animal-profile.comment.master-datalog tr td:nth-of-type(2) {
		width: 100%;
		min-width: auto;
	}

	.datalog-table table tr td:nth-of-type(5) {
		width: 100%;
		min-width: 230px;
	}

	.modal-dialog {
		width: auto;
	}

	#export-animal-profile .modal-header h4,
	h4#myModalLabel {
		font-size: 18px;
	}

	.Manage-loction .col-sm-3.col-12.repeater {
		flex: 80%;
		max-width: 80%;
		margin: 0 auto;
	}

	.button_submit button {
		font-size: 16px;
		line-height: 2.4;
		padding: 0 20px;
	}

	.login_content form .button_submit {
		margin: 15px 0 0;
	}

	.modal-dialog {
		width: 95%;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
	footer {
		height: 45px;
	}

	.pic .p-image {
		bottom: 10px;
		right: 150px;
	}

	.animal_content label,
	.animal_content .form-group label {
		font-size: 12px;
	}

	.animal_content .form-group .year {
		width: 37%;
	}

	.animal_content .button_submit {
		margin: 22px 0 0;
	}

	.animal_content {
		padding: 15px 15px 10px;
	}

	.animal_section .animal figure {
		margin: 0 auto 15px;
		width: 70px;
		height: 60px;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
	}

	.animal_section .animal a {
		font-size: 13px;
	}

	.animal_section .animal {
		padding: 20px 18px 0;
		min-height: 135px;
		height: 100%;
	}

	section.animal_section {
		padding: 50px 0 15px;
	}

	.datalog-table table tr th {
		padding: 12px 30px 10px;
		font-size: 14px;
	}

	.checkbox label {
		font-size: 16px;
	}

	.Manage-loction .col-sm-3.col-12.repeater {
		flex: 65%;
		max-width: 65%;
	}

	.Manage-loction .button_submit {
		margin: 35px 0 0;
	}

	section.animal-profile {
		padding: 50px 0 30px;
	}
}
